<%- include('partials/header.ejs') %>
	<body>
		<%- include('partials/nav.ejs') %>
		<!--3.right-->
		
		<div class="message">
			
		</div>
		<div class="com1">

            
      
			
		</div>
		
		</div>
		<div id="margin3">
	    	
	    </div>
	
		<%- include('partials/footer.ejs') %>
	</body>
</html>
