body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	box-shadow: none;
}

select {
	width: 100%;
	height: calc(2.25em + 2px);
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}