<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container centered">
        <h1>Delete Product</h1>
        <h5 class="mb-3">This can not be undone!</h5>
        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
</body>
</html>